html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(65, 56, 11);
}

.navbar-dark {
  background-color: rgb(31, 26, 4);
}

.footer {
  padding: 40px 0px 20px 0px;
  background-color: rgb(31, 26, 4);
  height:min-content;
}

.nav-link {
  color: white;
  cursor: pointer;
}
header {
  background-color: black;
  height: 100px;
}
.cover-image {
  /* background-image: url("images/royal-tulip.jpg");
  height:1000px; */
  width:100%;
  
}
.welcome {
  padding:20px;
  margin-top:20px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px 50px;
  background: #fde7ab;
  
}
.welcome-title {
  margin-bottom: 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.justify {
  text-align: justify;
}

/* .container {
  margin:0;
  padding: 0;
} */

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  color:white;
}
a:link {
  text-decoration: none;
}
a:hover {
  color:burlywood;
}


